.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
  padding: 10px;
}
.logo {
  width: 30%;
}

.navContent {
  display: flex;
  align-items: center;
}
.timerImg {
  width: 18%;
  margin-right: 7px;
}
.timerCard {
  display: flex;
  align-items: center;
}
.score {
  font-family: 'Roboto';
  font-weight: 500;
  color: white;
  margin-right: 15px;
}
.count {
  color: #fec653;
}
.timer {
  color: #fec653;
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 15px;
}
